.hugo {
  background-color: rgb(0, 191, 255);
}


a {
  background-color: aquamarine;
}

.HughJass {
  background-color: blueviolet;
  color: silver;
}

.headings {
  color: gold;
  font-size: 24px;
}

.subheadings {
  color: rgb(255, 0, 0);
  font-size: 16px;
}

.navtext {
  font-size: 10px;
}

.buttoncolor {
  font-family: Impact;
  color: white;
  background-color: rgb(100, 100, 100);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.buttoncolor:hover {
  background-color: yellow;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  transition: 1s;
}

a {
  text-decoration: none;
  font-size: 15px;
}

h5 {
  color:white;
  font-weight: normal;
  font-family: Arial;
}

h3 {
  color: brown;
}