body {
  background-color: rgb(0, 191, 255);
}

a {
  background-color: aquamarine;
}

.HughJass {
  background-color: blueviolet;
}

.headings {
  font-size: 24px;
}

.subheadings {
  color: rgb(50, 50, 50);
  font-size: 16px;
}

.navtext {
  font-size: 10px;
}